<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää Tapahtuma</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Lisää Tapahtuma</h1>
<form th:action="@{/events/add-form}" th:object="${event}" method="post">
    <input type="text" th:field="*{name}" placeholder="Tapahtuman nimi" required />
    <input type="date" th:field="*{date}" required />


    <label for="teamEvent">Joukkuetapahtuma:</label>
    <input type="checkbox" id="teamEvent" th:field="*{teamEvent}" />
    <p>Joukkuetapahtumana tallennettaessa, se näkyy kaikille käyttäjille.</p>
    <br />

    <button type="submit">Lisää</button>
</form>

<!-- Navigaatio -->
<nav>
    <a th:href="@{/events}" style="display: inline-block; margin-top: 10px;">Palaa tapahtumiin</a>
    <a th:href="@{/calendar}" style="display: inline-block; margin-top: 10px;">Näytä kalenteri</a>
    <a th:href="@{/logout}" style="display: inline-block; margin-top: 10px;">Logout</a>

</nav>

</body>
</html>
