<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/main.js}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalenteri</title>

</head>
<body>
<h1>Kuukausikalenteri</h1>
<div class="controls">
    <button id="prevMonth">Edellinen</button>
    <span id="monthYear"></span>
    <button id="nextMonth">Seuraava</button>
</div>
<div id="calendar"></div>

</body>
</html>
