<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/calendar.js}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalenteri</title>

</head>
<body>
<h1>Kuukausikalenteri</h1>
<div class="controls">
    <button id="prevMonth">Edellinen</button>
    <span id="monthYear"></span>
    <button id="nextMonth">Seuraava</button>
</div>
<div id="calendar"></div>

<!-- Navigaatio -->
<nav>
    <a th:href="@{/events}" style="display: inline-block; margin-top: 10px;">Palaa Etusivulle</a>
    <a th:href="@{/events/add}" style="display: inline-block; margin-top: 10px;">Lisää uusi tapahtuma</a>
    <a th:href="@{/logout}" style="display: inline-block; margin-top: 10px;">Logout</a>
</nav>
</body>
</html>
