<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Muokkaa Tapahtumaa</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Muokkaa Tapahtumaa</h1>
<form th:action="@{/events/{id}/edit(id=${event.id})}" th:object="${event}" method="post">
    <label for="name">Nimi:</label>
    <input type="text" id="name" th:field="*{name}" required />
    <br />

    <label for="date">Päivämäärä:</label>
    <input type="date" id="date" th:field="*{date}" required />
    <br />

    <label for="teamEvent">Joukkutapahtuma:</label>
    <input type="checkbox" id="teamEvent" th:field="*{teamEvent}" />
    <br />

    <button type="submit">Tallenna</button>
</form>

<nav>
    <a th:href="@{/events}">Palaa Etusivulle</a>
    <a href="/logout">Logout</a>
</nav>

</body>
</html>

